CMS_COURSE_SHORTCUT_BASE_URL=
COURSE_API_URL=
MYSQL_PASSWORD=
MYSQL_USER=
DATA_API_AUTH_TOKEN=
EMAIL_HOST=
EMAIL_HOST_PASSWORD=
EMAIL_HOST_USER=
LMS_BASE_URL=
OPEN_SOURCE_URL=
SECRET_KEY=
SEGMENT_IO_KEY=
SOCIAL_AUTH_EDX_OIDC_SECRET=
SOCIAL_AUTH_EDX_OIDC_KEY=
BACKEND_SERVICE_EDX_OAUTH2_KEY=
BACKEND_SERVICE_EDX_OAUTH2_SECRET=
INSIGHTS_OVERRIDES='{}'
