# The password to use for user 'root'
MYSQL_ROOT_PASSWORD=myRootUserPassword

# Will be granted CREATE USER privileges on all dbs
MYSQL_ADMIN_USER=admin
MYSQL_ADMIN_PASSWORD=myAdminUserPassword

# Will be granted SELECT privileges on all dbs
READ_ONLY_USER=read_only
READ_ONLY_PASSWORD=myReadOnlyUserPassword

# Will be granted ALTER TABLE privileges on all dbs
MIGRATE_USER=migrate
MIGRATE_PASSWORD=myMigrateUserPassword
